<nb-card class="card" accent="primary">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <h5 class="text-basic">Information</h5>
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <div class="space space-component vtop hleft col-md-12 background-transparent">
      <app-accordion1></app-accordion1>
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <a routerLink="/Login" class="link right text-primary">Login Here</a>
      <p class="text-basic paragraph">|</p>
      <a routerLink="/Register" class="link1 text-primary">Register Now</a>
    </div>
  </nb-card-footer>
</nb-card>