:host {
  display: block;
  width: 75%;
}

.space-component {
  height: auto;
  min-height: 3rem;
  overflow: visible;
}

.link {
  margin: 0 16px 0 0;
}

.link1 {
  margin: 0 8px 0 16px;
}

.card {
  width: 100%;
}
