<div class="slot">
  <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
    <div class="space space-component vtop hleft col-md-6 background-transparent">
      <nb-card class="card" accent="success">
        <nb-card-header class="slot">
          <div class="space space-component vcenter hcenter col-md-12 background-transparent">
            <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
          </div>
        </nb-card-header>

        <nb-card-body class="slot">
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <h4>Rohita Goparaju</h4>

          </div>
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <p class="text-basic paragraph">Mail me <a href=mailto:rgmh5@mail.umkc.edu? subject = "Mooc analyzer related query">here</a> for any suggestions/comments or any queries!</p>
          </div>
          <div>
            <p>(+1)913-203-9772</p>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="space space-component vtop hleft col-md-6 background-transparent">
      <nb-card class="card" accent="primary">
        <nb-card-header class="slot">
          <div class="space space-component vcenter hcenter col-md-12 background-transparent">
            <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
          </div>
        </nb-card-header>

        <nb-card-body class="slot">
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <h4>Madhuri Sarda</h4>

          </div>
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <p class="text-basic paragraph">Mail me <a href=mailto:ms6dt@mail.umkc.edu? subject = "Mooc analyzer related query">here</a> for any suggestions/comments or any queries!</p>
          </div>
          <div>
            <p>(+1)913-228-6753</p>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="space space-component vtop hleft col-md-6 background-transparent">
      <nb-card class="card" accent="warning">
        <nb-card-header class="slot">
          <div class="space space-component vcenter hcenter col-md-12 background-transparent">
            <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
          </div>
        </nb-card-header>

        <nb-card-body class="slot">
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <h4>Sahaja Adavelli</h4>

          </div>
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <p class="text-basic paragraph">Mail me <a href=mailto:sa2dk@mail.umkc.edu? subject = "Mooc analyzer related query">here</a> for any suggestions/comments or any queries!</p>
          </div>
          <div>
            <p>(+1)417-365-0377</p>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="space space-component vtop hleft col-md-6 background-transparent">
      <nb-card class="card" accent="danger">
        <nb-card-header class="slot">
          <div class="space space-component vcenter hcenter col-md-12 background-transparent">
            <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
          </div>
        </nb-card-header>

        <nb-card-body class="slot">
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <h4>Udaya ByReddy</h4>

          </div>
          <div class="space space-component vtop hleft col-md-12 background-transparent">
            <p class="text-basic paragraph">Mail me <a href=mailto:ubx35@mail.umkc.edu? subject = "Mooc analyzer related query">here</a> for any suggestions/comments or any queries!</p>
          </div>
          <div>
            <p>(+1)816-663-3322</p>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="space space-component vcenter hright col-md-12 background-transparent">
    <a routerLink="/Login" class="link text-primary">Login Here</a>
    <p class="text-basic paragraph">|</p>
    <a routerLink="/Register" class="link1 text-primary">Register</a>
  </div>
</div>
