:host {
  display: block;
  width: 75%;
}

.space-component {
  height: auto;
  min-height: 3rem;
  overflow: visible;
}

.multiple-axis-chart {
  width: 100%;
  height: 400px;
}

.card {
  width: 100%;
}
