<nb-accordion class="accordion" >
  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Inspiration</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text-basic paragraph">In the world of open education, we have loads of content.
          MOOCs are being released at a rapid pace across wide range of platforms. Students pay and watch the content at their own pace.
          Here, the content is being developed and controlled by the content creator. So, in this platform of content development, what
          matters the most is engaging content and user satisfaction, which indeed points to what the audience like to watch and enjoy.
          Our solution would like to bring student at the center of content creation. This would also help in creating customized lesson plans
          and teaching techniques for each student's unique abilities and comprehension. There are many videos, e-books, magazines, audios and
          online journals in areas like science, arts, philosophy to name a few. Based on each person's interest, the subject which they choose varies.
          However, understanding which type of content would bring in more value addition to it is challenging.
          In order to accomplish the challenge, we have a system proposal.
          The motivation of the project is to enhance learning from the video-based learning platforms.
          The significance of the project is that it enables the content evaluation much easier for the end user
          as well as the content developer.</p>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Implementation</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text-basic paragraph">Our proposed system helps in understanding which type of content is making the viewer happy and contended. The ways of doing that are:</p>
        <ul>
          <li>It is accomplished by capturing the images of the person's face while watching a video at different time intervals</li>
          <li>Then, based on the face expressions over the period vs. the change on the face expression, system would decide if the person like the content of the video or did it not</li>
          <li>If not, we can find the ways in which the content can be made more interesting and engaging to the viewer</li>
          <li>The emotion recognition would be depicted in the form of graphical representation on how the person is reacting through his expressions/emotions</li>
          <li>By doing so, the makers can develop some creative ways on how to improve the content</li>
          <li>This not only helps the content developers build good content, but also helps the viewer in understanding his/her area of interest</li>
        </ul>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Innovations for future</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <p class="text-basic paragraph">This application approach can be used in the future in many ways such as:</p>
        <ul>
          <li>This method can also be imbibed in the classroom-based environment to know how interested the students are while the lecture on a
            particular topic/area is going on. It helps the tutor in understanding the challenges the students are facing and thereby create ways
            of improvement for the students before they struggle too much during exams.</li>
          <li>There are many other areas where our application can work, apart from the education field, such as in the entertainment field. As the content developers in the entertainment
            field are developing day by day; this would emerge as a boon to them in improving their content and making the viewers entertained and
            engaged with the content.</li>
          <li>Also, in the corporate world during seminar/presentations and the annual renovation meetings this application would be very helpful.
            This helps in sentiment analysis and hence the viewer and his/her sentiments are being treated as the primary and most important idea
            of the content.</li>
        </ul>
          Since the viewers are the most valuable assets or any content-based application, we have made an experimental approach in helping them create and explore in their
          field of work. This also brings in a lot of innovative ideas in the creators and hence the learning could be more and more fun!!
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
